<!-- LOAD DEPENDENCIES -->
{% extends "base.html" %}
{% load static %}

<!-- VARIABLES -->
{% block title %}Gameboard{% endblock %}

{% block css %}<link href="{% static 'board.css' %}" rel="stylesheet">{% endblock %}

{% block content %}
    {% if user.is_authenticated %}
        <!-- <nav>
            <div class="sidebar">
                <a href="/"><i class="bi bi-house-door-fill" style="font-size: 48px;" ></i></a>
                <a href="/accounts/board"><i class="bi bi-dice-3-fill" style="font-size: 48px;" ></i></a>
                <a href="dashboard"><i class="bi bi-map-fill" style="font-size: 48px;" ></i></a>
                <a href="dashboard"><i class="bi bi-trophy-fill" style="font-size: 48px;" ></i></a>
                <a>
                    <form action="{% url 'logout' %}" method="post">
                        {% csrf_token %}
                        <button type="submit"><i class="bi bi-box-arrow-right" style="font-size: 48px;" ></i></button>
                    </form>
                </a>
                <a href="{% url 'password_change' %}">Password Change</a>
            </div>
            
        </nav> -->

      <div class="main-board">
        <!-- <div class="smaller-board"> -->
        <div class="item">
            <h3>Peter Chalk</h3>
        </div>
        <div class="item">
            <h3>Forum</h3>
        </div>
        <div class="item">
            <h3>Great Hall</h3>
      
        </div>
        <div class="item">
            <h3>Reed Hall</h3>

        </div>
        <div class="item">
            <h3>Harrison</h3>
        </div>
        <div class="item">
            <h3>Innovation centre</h3>
        </div>
        <div class="item">
            <h3>East Park</h3>
        </div>
        <div class="inner-item">
      
        </div>
        <div class="inner-item">

        </div>
        <div class="inner-item">       
        </div>
        <div class="inner-item">
        </div>
        <div class="item">
            <h3>INTO building</h3>
      
        </div>
        <div class="item">
            <h3>Birks Grange</h3>

        </div>
        <div class="inner-item">        
        </div>
        <div class="inner-item">
            <fieldset class="spinner">
                <ul>
                    <li>1</li>
                    <li>2</li>
                    <li>3</li>
                    <li>4</li>
                    <li>5</li>
                    <li>6</li>
                    <li>1</li>
                    <li>2</li>
                    <li>3</li>
                    <li>4</li>
                    <li>5</li>
                    <li>6</li>
                    <li>1</li>
                    <li>2</li>
                    <li>3</li>
                    <li>4</li>
                    <li>5</li>
                    <li>6</li>
                </ul>
                <button type="button">SPIN</button>
                </fieldset>
        </div>
        <div class="inner-item">
      
        </div>
        <div class="inner-item">

        </div>
        <div class="item"> 
            <h3>Streatham Court</h3>       
        </div>
        <div class="item">
            <h3>Start</h3>
        </div>
        <div class="item">
            <h3>Business School</h3>
      
        </div>
        <div class="item">
            <h3>Amory</h3>

        </div>
        <div class="item">
            <h3>Queens</h3>
        </div>
        <div class="item">
            <h3>Old library</h3>

        </div>
        <div class="item">
            <h3>Hatherly</h3>

        </div>

      </div>
    {% else %}
        <h1 style="align-items: center; margin-left: 40%;">Welcome to cliMate</h1>
        <p>You are not logged in</p>
        <p><a href="{% url 'password_reset' %}">Password Reset</a></p>
        <p><a href="{% url 'login' %}">Log In</a></p>
    {% endif %}

{% endblock %}