<!-- LOAD DEPENDENCIES -->
{% extends "base.html" %}
{% load static %}

<!-- VARIABLES -->
{% block title %}Home{% endblock %}

{% block css %}<link href="{% static 'dashboard.css' %}" rel="stylesheet">{% endblock %}

{% block content %}
    {% if user.is_authenticated %}

        <!-- NEW CODE -->

        <h1 class="heading">Welcome back {{ user.username }}</h1>
            
        <nav>
            <div class="sidebar">
                <a href="/"><i class="bi bi-house-door-fill" style="font-size: 48px;" ></i></a>
                <a href="accounts/board"><i class="bi bi-dice-3-fill" style="font-size: 48px;" ></i></a>
                <a href="dashboard"><i class="bi bi-map-fill" style="font-size: 48px;" ></i></a>
                <a href="dashboard"><i class="bi bi-trophy-fill" style="font-size: 48px;" ></i></a>
                <a>
                    <form action="{% url 'logout' %}" method="post">
                        {% csrf_token %}
                        <button type="submit"><i class="bi bi-box-arrow-right" style="font-size: 48px;" ></i></button>
                    </form>
                </a>
                <a href="{% url 'password_change' %}">Password Change</a>
            </div>
            
        </nav>

        <div class="grid">
            <div class="item">
                <h1>Level 1</h1>
                <h2>Innovation Centre</h2>
            </div>
            <div class="item">
                <h1>Leaderboard</h1>
            </div>
            <div class="item">
                <h1>Progress</h1>
            </div>
            <div class="item">
                <h1>Map</h1>
            </div>
            <div class="item">
                <h1>Rewards</h1>
            </div>
        </div>
    {% else %}
        <p>You are not logged in</p>
        <p><a href="{% url 'password_reset' %}">Password Reset</a></p>
        <p><a href="{% url 'login' %}">Log In</a></p>
    {% endif %}
{% endblock %}