<h1>
    404 Not Found
</h1>
<p>
    You are seeing this because you are haven't set up the React part of this project yet. <br>
    <br>
    <h2>Try either:</h2>
    <ul>
        <li>Run the React development server with <strong>npm run dev</strong> and access the page through <a href="http://localhost:5173">localhost:5173</a></li>
        <li>Build the React project with <strong>npm run build</strong></li>
    </ul>
    <br>
    Check the <a href="https://github.com/SequentialEntropy/SoftwareEng888/blob/main/README.md">README</a> for more details.
</p>