/*
* styles.css - Global stylesheet for the application
*
* @file Defines styles for the login page, background, and form elements
* @author Carina Jose
* @author Amreet Dhillon
* @version 1.0.0
* @since 20-02-2025
*/

/* Page Background Styling */
body {
    background-image: url("https://th.bing.com/th/id/OIG1.oiOPzfB3GgXEPf..eaQD?w=1792&h=1024&rs=1&pid=ImgDetMain");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Login Containter Styling */
.login-container{
    color: green !important;
    display: flex !important;
    flex-direction: column;
    justify-content: center !important;
    align-items: center !important;
    text-align: center !important;
    padding: 5%;
    background-color: rgb(255 255 255  / 0.6);
    width: 30%;
    height: 50%;
    border-radius: 10px;
}

.login-container h2{
    font-size: 34px;
}

/* Form Styling */
.login-container form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.login-container button{
    margin: 5%;
}

/* Input Field Styling */
.form-control{
    margin-top: 10%;
    margin-bottom: 10%;
}

/* Login Button */
.login-btn{
    border-radius: 10px;
    border-width: 0;
    background-color: green;
    padding: 3%;
    width: 100%;
    color: white;
}

.login-btn:hover{
    background-color: rgb(0 110 0);
}