/*
* Board.module.css - Stylesheet for the Board component 
* 
* @file Defines the styles for the sidebar, board layout, spinner, and popups 
* @author Carina Jose 
* @author Amreet Dhillon 
* @author Yap Wen Xing 
* @version 1.1.0 
* @since 19-02-2025
*/

/* Sidebar Navigation */
.game{
    background-color: #e9fffd;
    background-size: cover;
    background-position: center;
    height: 100vh;
    width: 100vw;
    position: absolute;
}

.sidebar {
    background-color:#3C3E4C;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 7vw;
    padding: 1.5vw 0;
    height: 90vh;
    position: fixed;
    border-radius: 30px;
    top: 5.5%;
    justify-content: flex-start;

}

.sidebar i {
    color: #85AEB3;
  
}

.sidebar a {
    margin-top: 1.5vw;
}

.sidebar h2{
    color: #85AEB3;
    font-family: 'Hammersmith One';
    font-size: 1.5vw;
}


/* Spinner component */
:where(.spinner) {
    --_items: 12;
    all: unset;
    aspect-ratio: 1 / 1;
    container-type: inline-size;
    direction: ltr;
    display: grid;
    position: absolute;
    top:270px;
    left:300px;
    width: 20%;

    &::after {
        aspect-ratio: 1/cos(30deg);
        background-color: crimson;
        clip-path: polygon(50% 100%,100% 0,0 0);
        content: "";
        height: 2cqi;
        position: absolute;
        place-self: start center;
        scale: 1.4;
    }
  
    & > * { position: absolute; }
  
    button {
        aspect-ratio: 1 / 1;
        background: #3c3e4c;
        border: 0;
        border-radius: 50%;
        cursor: pointer;
        font-family: 'Londrina Solid';
        color: #d9d9d9;
        font-size: 5cqi;
        place-self: center;
        width: 20cqi;
    }
  
    ul {
        all: unset;
        clip-path: inset(0 0 0 0 round 50%);
        display: grid;
        inset: 0;
        place-content: center start;
    
        li {
            align-content: center;
            aspect-ratio: 1 / calc(2 * tan(180deg / var(--_items)));
            clip-path: polygon(0% 0%, 100% 50%, 0% 100%);
            display: grid;
            font-size: 5cqi;
            grid-area: 1 / -1;
            padding-left: 1ch;
            rotate: calc(360deg / var(--_items) * calc(var(--_idx) - 1));
            transform-origin: center right;
            user-select: none;
            width: 50cqi;
    
            &:nth-of-type(1) { --_idx: 1; background-color: #7f2982; }
            &:nth-of-type(2) { --_idx: 2; background-color: #ea526f; }
            &:nth-of-type(3) { --_idx: 3; background-color: #558564; }
            &:nth-of-type(4) { --_idx: 4; background-color: #7f95d1; }
            &:nth-of-type(5) { --_idx: 5; background-color: #e98a15;}
            &:nth-of-type(6) { --_idx: 6; background-color: #7f2982; }
            &:nth-of-type(7) { --_idx: 7; background-color: #ea526f;}
            &:nth-of-type(8) { --_idx: 8; background-color: #558564;}
            &:nth-of-type(9) { --_idx: 9; background-color: #7f95d1; }
            &:nth-of-type(10) { --_idx: 10; background-color: #e98a15;}
            &:nth-of-type(11) { --_idx: 11; background-color: #7f2982;}
            &:nth-of-type(12) { --_idx: 12; background-color: #ea526f;}
            
        }
    }
}


/* Main board layout */
.main_board {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(4, 1fr);
    gap: 0.8vw;
    width: 80vw;
    height: 85vh;
    margin: auto;
    margin-left: 13vw;
    margin-top: 7vw;    /* make media specifc*/
    padding: 1vh 1vw;
    position: relative;
    background-color: #e9fffd;
}

.avatar{
    position: absolute;
    z-index: 1;
}

.main_board i{
    font-size: 10vw;
}

.item {
    
    border-radius: 25px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    height: 100%;
    text-align: center;
    background-color: #d9d9d9;
    flex-direction: column;
}

.item h3{
    font-size: 1.5vw;
    font-family: 'Londrina Solid';
    margin-top: 4.5vw;
}

.tile_bar{
    background-color: pink;
    width: 100%;
    height: 25%;
    border-radius: 10px;
    margin-top: 0;
}



.task_deck{
    background-color: #3c3e4c;
    position: absolute;
    top: 33%;
    left: 55%;
    width: 15vw;
    height: 15%;
    border-radius: 25px;
    border: 2px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
   
    
}

.task_btn{
    background: none;
    border: none;
    font-family: 'Londrina Solid';
    margin: auto;
    color: #d9d9d9;
    font-size: 3vw;
}

.chance_deck{
    background-color: #3c3e4c;
    position: absolute;
    top: 52%;
    left: 55%;
    width: 15vw;
    height: 15%;
    border-radius: 25px;
    border: 2px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
 
}

.task_deck h1,
.chance_deck h1{
    font-family: 'Londrina Solid';
    margin: auto;
    color: #d9d9d9;
}

/* Chance Popup */

.chance_popup{

    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #d9d9d9;
    padding: 20px;
    border-radius: 25px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
    z-index: 1000;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;


}

.chance_header{
    background-color: green;
    width: 100%;
    height: 25%;
    border-radius: 10px;
    margin-top: 0;
    position: absolute;
    top: 0;
    display: flex;
    flex-direction: row;
    text-align: center;
    align-items: center;

}

.chance_header h1{
    font-family: 'Londrina Solid';
    font-size: 1.5rem;
    margin: auto;
    color: black;

}

.chance_header button{
    color:black;
    font-size: 25px;
    position: absolute;
    right: 20px;
    padding: 0;
    border: none;
    background: none;

}

.chance_content h2{
    margin-top: 25px;
    margin-bottom: 10px;
    font-family: 'Londrina Solid';
    padding: 20px;
}
/* Spinner */
.spinner {
    position: absolute;
    top: 50%;
    left: 35%;
    transform: translate(-50%, -50%);
    width: min(28vw, 280px);
    height: min(28vw, 280px);
    z-index: 10;
}

/* Popup modal */
.popup {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #d9d9d9;
    border-radius: 25px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
    z-index: 1000;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 35vw;
    height: 25%;
}

.popup_header{
    background-color: green;
    width: 100%;
    height: 25%;
    border-radius: 10px;
    margin-top: 0;
    position: absolute;
    top: 0;
    display: flex;
    flex-direction: row;
    text-align: center;
    align-items: center;

}

.popup_header h1{
    font-family: 'Londrina Solid';
    font-size: 2.5vw;
    margin: auto;
}

.popup_header .exit_btn{
    color:black;
    font-size: 25px;
    position: absolute;
    right: 1vw;
    padding: 0;
    border: none;
    background: none;
    
}

.popup_content{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1vw;
    
}

.popup_content h2 {
    margin-top: 3vw;
    margin-bottom: 0;
    font-family: 'Londrina Solid';
    font-size: 1.8vw;
    
}

.popup_content button {
    background: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    width: 5vw;
    height: 30%;
}

.popup_content  button:hover {
    background: #45a049;
}

/* Points Container */

.points_container{
    position: absolute;
    top: 1.5vw;
    left: 40vw;
    background-color: #3C3E4C;
    border-radius: 25px;
    width: 20vw;
    height: 7%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.points_container h1{
    font-size: 3vw;
    text-align: center;
    color: #D9D9D9;
    font-family: 'Londrina Solid';
    padding: 2px;
}

/* How To Play Button */
.how_to_play_btn {
    position: fixed;
    top: 0.3vw; 
    right: 7vw; 
    width: 60px; 
    height: 60px; 
    background: #D9D9D9;
    opacity:100%;
    font-family: "Inter", serif;
    color: black;
    border: none;
    border-radius: 50px;
    padding: 10px 20px;
    font-size: 18px;
    margin-top: 10px;
    cursor: pointer;
    text-align: center;
    align-items: center;
    font-weight: bold;
}

.how_to_play_btn:hover {
    background-color: #9f9d9d; 
    transform: scale(1.1); 
}

.how_to_play_btn:active {
    transform: scale(0.95); /* Click effect */
}

.how_to_play_container2 {
    background-color: #D9D9D9;
    display: flex !important;
    flex-direction: column;
    justify-content: center !important;
    align-items: center !important;
    text-align: center !important;
    padding: 5%;
    width: 23vw;
    height: 40vh;
    border-radius: 25px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

}

.exit_btn {
    color:black;
    position: fixed;
    top: -5px; 
    right: 10px; 
    width: 30px; 
    height: 30px; 
    background: #3C3E4C;
    opacity:100%;
    font-family: "Inter", serif;
    color: black;
    border: none;
    border-radius: 50px;
    font-size: 20px;
    margin-top: 10px;
    cursor: pointer;
    text-align: center;
    align-items: center;
    font-weight: bold;
}

.how_to_play_container3 {
    background-color: #3C3E4C;
    width:178%;
    height:70%;
    border-radius: 10px;
    top:0;
}

.how_to_play_title {
    color: white;
    font-family: "Londrina Solid";
    width: 100%;
}

.how_to_play_instructions {
    color: black;
    font-family: "Londrina Solid";
    margin-top: 0px;
    font-size: 2vw;
}

.overlay {
    position: fixed;
    inset: 0; 
    background: rgba(0, 0, 0, 0.717); 
    display: flex;
    justify-content: center;
    align-items: start; 
    z-index: 50; 
}




@media (min-width: 481px) and (max-width: 768px){
   

}


@media (min-width: 769px) and (max-width: 1199px ){

    


}


@media (min-width: 1200px){
    
    


}

