/*
* Dashboard.module.css - Stylesheet for the Dashboard component 
*
* @file Defines styles for the main dashboard layout, sidebar, grid structure, and progress bar
* @author Carina Jose 
* @author Amreet Dhillon 
* @version 1.1.0
* @since 16-02-2025
*/

/* Global Reset */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


/* Main dashboard layout */
.main_dashboard {
    min-height: 100vh;
    background-color: #C5E4E1;
}

.heading{
    margin-left: auto;
    margin-right: auto;
    display: flex;
    text-align: center;
    justify-content: center;
    padding: 10px;
    color: #3C3E4C;
    font-family: "Hammersmith One";
}

/* Sidebar navigation */
.sidebar {
    background-color:#3C3E4C;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 9vw;
    padding: 1.5vw 0;
    height: 90vh;
    position: absolute;
    border-radius: 30px;
    gap: 4vw;

}

.sidebar i {
    color: #85AEB3;
    font-size: 4vw;
  
}



.sidebar h2{
    color: #85AEB3;
    font-family: 'Hammersmith One';
    font-size: 2vw;
}


/* Logo container */
.logoContainer {
    width: 100%;
    display: flex;
    justify-content: center;
    padding-top: 10px;
}

.logoText {
    color: #85AEB3;
    font-size:25px;
    top: 0;
    justify-content: flex-start;
}

/* Dashboard grid layout */
.grid {
    
    display: grid;
    gap: 0;
    padding: 1vw;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: auto auto auto auto auto;
    grid-template-areas:
        "hero hero hero hero aside2 aside2"
        "hero hero hero hero aside2 aside2"
        "progress progress progress progress aside2 aside2"
        "aside4 aside4 aside4 aside4 aside5 aside5"
        "aside4 aside4 aside4 aside4 aside5 aside5"
        "aside4 aside4 aside4 aside4 aside5 aside5"
        "aside4 aside4 aside4 aside4 aside5 aside5 ";
    
}

/* Grid items */
.item {
    border-radius: 15px;
    font-family: "Hammersmith One", serif;
    /* background-color: rgba(0, 0, 0, 0.5);  */
    color: white;
    text-align: "center";
    place-items: "center";
    padding: 0;
}

.item a{
    text-decoration: none;
    font-size: 2rem;
    color: #fff;
}

/*  Game Widget */

.grid .item:nth-child(1) {
    grid-area: hero;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url('../assets/tile1.jpg');
    background-size:cover;
    background-repeat: no-repeat;
    align-content: center;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.804); /* Semi-transparent background */
    
    
}

/* Leaderboard Widget */

.grid .item:nth-child(2) {
    grid-area: aside2;
    top: 0;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    border-radius: 30px;
    background-color: rgba(0, 0, 0, 0.5);


}

/* Individual profile items */
.profileItem {
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: center;
    gap: 10px;
    background-color: #3C3E4C;
    width: 80%;
    color:white;
    border-radius: 30px;
    height: 45px;
}

.profileIcon {
    margin-top: 5px;
}

/* Progress Bar */

.grid .item:nth-child(3) {
    grid-area: progress;
    align-content:center;
    margin-left: 0;
    text-align: center;
}



/* Map Widget */

.grid .item:nth-child(4) {
    grid-area: aside4;
    align-content: center;
    text-align: center;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url("https://miro.medium.com/v2/resize:fill:1200:675/g:fp:0.73:0.06/1*dBe7OoCKPI4HKNQ1_79x2A.jpeg");
    background-size: cover;
    background-repeat: no-repeat;
    background-color: rgb(0, 0, 0); /* Semi-transparent background */
    

}

/* Points Widget */

.grid .item:nth-child(5) {
    grid-area: aside5;
    /* background-color: rgba(0, 0, 0, 0.5); */
    background-color: #7F2982;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 95%;
    gap: 0;
    
    
}

.points_container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 95%;
    height: 100%;
}



/* Individual profile items */
.pointsItem {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    color:white;
    border-radius: 30px;
    width: 20vw;
    margin-top: 0.7vw;
    
   
}

.pointsIcon {
    margin: 0;
   
}

/* Progress bar */
.progressBar {
    width: 100%;
    appearance: none;
    border-radius: 30px;
    margin-left: 0;
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1);
    
}

.progressBar::-webkit-progress-bar {
    background-color: #C5E4E1;
    border-radius: 30px;
    border: 1px solid #3C3E4C; /* Add a border color to the progress bar */
}

.progressBar::-webkit-progress-value {
    background-color: #3C3E4C;
    border-radius: 30px;
}


/* Mobile Styling */
@media (max-width: 480px){

    .heading{
        width: 80vw;
        
    }

    .grid{
        width: 90vw;
        height: 100%;
        max-height: 80vh;
        margin-left: auto;
        margin-right: auto;
        gap: 1.5vw;
      
    }

    /* Game Widget */

    .grid .item:nth-child(1){
        min-height: 28vh;
        max-height: 35vh;
    }

    .grid .item:nth-child(1) a,
    .grid .item:nth-child(1) h2 {
        font-size: 5.5vw;
    }

    /* Leaderboard Widget */

    .grid .item:nth-child(2) {

        width: 33vw;
        margin-left: 2vw;
        min-height: 34vh;
        max-height: 40vw;
    
    }

    .grid .item:nth-child(2) h1{
        font-size: 5vw;
        margin-bottom: 0;
        margin-top: 2vw;
        
    }

    .grid .item:nth-child(2) h3{
        font-size: 4vw;
        
        
    }

    .grid .item:nth-child(2) .profileName{
        font-size: 2.5vw;
    }

    .grid .item:nth-child(2) .profileItem{
        height: 8vw;
        width: 24vw;
        
        
    }

    .grid .item:nth-child(2) i{
        font-size: 8vw;
    }

    
    
    /* Progress Bar */
    .progressBar{
        height: 6vh;
    }
    

    /* Map Widget */

    .grid .item:nth-child(4) {
        min-height: 32vh;
        max-height: 33vh;
        margin-top:0;
      
    
    }


    /* Points Widget */
    .grid .item:nth-child(5) {
        margin-left: 2vw;
        margin-top: 0; 
        min-height: 32vh;
        max-height: 33vh;
    }

    .grid .item:nth-child(5) i{
        font-size: 12vw;
        line-height: 1.5;
    }

    .grid .item:nth-child(5) h2{
        font-size: 8vw;
        line-height: 1;
        margin-top: 0.5vw;
        
    }

    .grid .item:nth-child(5) h1{
        margin-top: 5vw;
        font-size: 5vw;
    }

    .pointsItem{
        margin-top: 1vw;
    }

    .sidebar{
        width: 85vw;
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        height: 9vh;
        gap: 6vw;
        position: absolute;
        bottom: 4.5%;
        left: 2vw;
        
    }

    .sidebar h2{
        font-size: 5vw;
        margin-left: 5vw;
        margin-top: 1vw;
    }

    .sidebar i{
        font-size: 5vw;
        
    }

    .logoContainer {
        width: 20%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-left: 3vw;
        margin-right: 3vw;
    
        
    }




}



/* Tablet Styling */
@media (min-width: 481px) and (max-width: 768px){
    .heading{
        width: 80vw;
        
    }

    .grid{
        width: 90vw;
        height: 100%;
        max-height: 80vh;
        margin-left: auto;
        margin-right: auto;
        gap: 1.5vw;
      
    }

    /* Game Widget */

    .grid .item:nth-child(1){
        min-height: 30vh;
        max-height: 35vh;
    }

    .grid .item:nth-child(1) a,
    .grid .item:nth-child(1) h2 {
        font-size: 3.5vw;
    }

    /* Leaderboard Widget */

    .grid .item:nth-child(2) {

        width: 33vw;
        margin-left: 2vw;
        min-height: 36vh;
        max-height: 45vw;
    
    }

    .grid .item:nth-child(2) h1{
        font-size: 3vw;
        margin-bottom: 0;
        margin-top: 2vw;
        
    }

    .grid .item:nth-child(2) h3{
        font-size: 2vw;
        
        
    }

    .grid .item:nth-child(2) .profileName{
        font-size: 2vw
    }

    .grid .item:nth-child(2) .profileItem{
        height: 4.5vw;
        width: 22vw;
        
        
    }

    .grid .item:nth-child(2) i{
        font-size: 4.5vw;
    }

    
    
    /* Progress Bar */
    .progressBar{
        height: 5vh;
    }
    

    /* Map Widget */

    .grid .item:nth-child(4) {
        min-height: 35vh;
        max-height: 38vh;
        margin-top:0;
      
    
    }


    /* Points Widget */
    .grid .item:nth-child(5) {
        margin-left: 2vw;
        margin-top: 0; 
        min-height: 35vh;
        max-height: 38vh;
    }

    .grid .item:nth-child(5) i{
        font-size: 7vw;
        line-height: 1;
    }

    .grid .item:nth-child(5) h2{
        font-size: 8vw;
        line-height: 1.5;
        margin-top: 1vw;
        
    }

    .grid .item:nth-child(5) h1{
        margin-top: 4vw;
        font-size: 4vw;
    }

    .pointsItem{
        margin-top: 3vw;
    }

    .sidebar{
        width: 90vw;
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        height: 9vh;
        gap: 6vw;
        position: absolute;
        bottom: 4.5%;
        left: 2vw;
        
    }

    .sidebar h2{
        font-size: 4vw;
        margin-left: 5vw;
        margin-top: 1vw;
    }

    .sidebar i{
        font-size: 4vw;
        
    }

    .logoContainer {
        width: 20%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-left: 3vw;
        margin-right: 3vw;
    
        
    }

}

/* Desktop Styling */

@media (min-width: 769px) and (max-width: 1012px){
    .heading{
        width: 80vw;
        
    }

    .grid{
        width: 85vw;
        height: 83vh;
        margin-left: 13vw;
        padding: 0;
        row-gap: 1vw;

      
    }

    /* Game Widget */

    .grid .item:nth-child(1){
        min-height: 30vh;
        max-height: 50vh;
    }

    .grid .item:nth-child(1) a,
    .grid .item:nth-child(1) h2 {
        font-size: 3vw;
    }

    /* Leaderboard Widget */

    .grid .item:nth-child(2) {

        width: 33vw;
        margin-left: 2vw;
        min-height: 31vh;
        max-height: 50vh;
    
    }

    .grid .item:nth-child(2) h1{
        font-size: 3vw;
        margin-bottom: 0;
        margin-top: 2vw;
        
    }

    .grid .item:nth-child(2) h3{
        font-size: 1.5vw;
        margin-bottom: 0;
        
    }

    .grid .item:nth-child(2) .profileItem{
        height: 4vw;
        width: 25vw;
        
        
    }

    .grid .item:nth-child(2) i{
        font-size: 4vw;
    }

    
    
    /* Progress Bar */
    .progressBar{
        height: 10vh;
    }
  

    /* Map Widget */

    .grid .item:nth-child(4) {
        min-height: 25vh;
        max-height: 50vh;
        margin-top:0;
    
    }


    /* Points Widget */
    .grid .item:nth-child(5) {
        margin-left: 2vw;
        margin-top: 0; 
        min-height: 25vh;
        max-height: 50vh;
    }

    .grid .item:nth-child(5) i{
        font-size: 7vw;
        line-height: 1;
    }

    .grid .item:nth-child(5) h1{
        font-size: 3vw;
        margin-bottom: 0;
        margin-top: 2vw;
        
    }

    .grid .item:nth-child(5) h2{
        font-size: 8vw;
        line-height: 1;
        
    }

    .pointsItem{
        margin-top: 1.5vw;
    }

    .sidebar {
        width: 8vw;
        padding: 1.5vw 0;
        height: 88vh;
        position: absolute;
        border-radius: 30px;
        gap: 3vw;
        top: 5.5%;
    
    }
    
    .sidebar i {
        color: #85AEB3;
        font-size: 4vw;
      
    }
    
    
    
    .sidebar h2{
        color: #85AEB3;
        font-family: 'Hammersmith One';
        font-size: 2vw;
    }



}


/* Large Desktop Styling */

@media (min-width: 1013px){
    .heading{
        width: 80vw;
        
    }

    .grid{
        width: 88vw;
        height: 84vh;
        margin-left: 10vw;
        gap: 1vw;
        
    }

    /* Game Widget */
    .grid .item:nth-child(1) {
        min-height: 28vh;
        max-height: 35vh;
        
        
    }

    /* Leaderboard Widget */

    .grid .item:nth-child(2) {

        width: 33vw;
        margin-left: 2vw;
        min-height: 35vh;
        max-height: 45vh;
        
    
    }

    .grid .item:nth-child(2) h1{
        font-size: 2.5vw;
        margin-bottom: 0;
        margin-top: 1.5vw;
        
    }

    .grid .item:nth-child(2) h3{
        font-size: 1.5vw;
        
    }

    .grid .item:nth-child(2) .profileItem{
        height: 3vw;
        width: 25vw;   
     
    }

    .grid .item:nth-child(2) i{
        font-size: 3vw;
    }


    /* Progress Bar */
    .progressBar {
        height: 10vh;
    }

    /* Map Widget */

    .grid .item:nth-child(4) {
        margin-top: 0;
        min-height: 20vh;
        max-height: 40vh;

    
    }


    /* Points Widget */
    .grid .item:nth-child(5) {
        margin-left: 2vw;
        margin-top: 0; 
        min-height: 20vh;
        max-height: 40vh;
    }

    .grid .item:nth-child(5) i{
        font-size: 4vw;
        line-height: 1;
    }

    .grid .item:nth-child(5) h1{
        margin-top: 1.5vw;
        font-size: 2vw;
    }

    .grid .item:nth-child(5) h2{
        font-size: 4vw;
        line-height: 1.2;
        
    }

    .pointsItem{
        margin-top: 0.7vw;
    }

    .sidebar {
        width: 7vw;
        height: 90vh;
        gap: 2vw;
        top: 5.5%;
    
    }
    
    .sidebar i {
        font-size: 3vw;
      
    }
    
    
    
    .sidebar h2{
        font-size: 1.8vw;
    }

}
