/*
* Dashboard.module.css - Stylesheet for the Dashboard component 
*
* @file Defines styles for the main dashboard layout, sidebar, grid structure, and progress bar
* @author Carina Jose 
* @author Amreet Dhillon 
* @version 1.1.0
* @since 16-02-2025
*/

/* Global Reset */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* Main dashboard layout */
.main_dashboard {
    min-height: 100vh;
    background-color: #C5E4E1;
}

.heading{
    margin-left: auto;
    margin-right: auto;
    display: flex;
    text-align: center;
    justify-content: center;
    padding: 10px;
    width: 40%;
    color: white;
    font-family: "Hammersmith One", serif;
}

/* Sidebar navigation */
.sidebar{
    background-color:#3C3E4C;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 6rem;
    padding: 20px 0;
    height: 90%;
    position: fixed;
    border-radius: 30px;
    top: 5.5%;
    justify-content: flex-start;
}

.sidebar i{
    color: #85AEB3;
    margin-top: 200px;
    
}

.sidebar a{
    margin-top: 20%;
}

.sidebar h2{
    color: #85AEB3;
    font-family: 'Hammersmith One';
    font-size: 1.5rem;
}

/* Logo container */
.logoContainer {
    width: 100%;
    display: flex;
    justify-content: center;
    padding-top: 10px;
}

.logoText {
    color: #85AEB3;
    font-size:25px;
    top: 0;
    justify-content: flex-start;
}

/* Dashboard grid layout */
.grid {
    width: 88vw;
    height: 87vh;
    display: grid;
    row-gap: 0px;
    padding: 1vw;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: 1fr 1fr 2fr 1fr 1fr;
    grid-template-areas:
        "hero hero hero hero aside2 aside2"
        "hero hero hero hero aside2 aside2"
        "progress progress progress progress aside2 aside2"
        "aside4 aside4 aside4 aside4 aside5 aside5"
        "aside4 aside4 aside4 aside4 aside5 aside5"
        "aside4 aside4 aside4 aside4 aside5 aside5"
        "aside4 aside4 aside4 aside4 aside5 aside5 ";
    margin-left: 10%;
}

/* Grid items */
.item {
    border-radius: 15px;
    font-family: "Hammersmith One", serif;
    /* background-color: rgba(0, 0, 0, 0.5);  */
    color: white;
    text-align: "center";
    place-items: "center";
}

.item a{
    text-decoration: none;
    font-size: 2rem;
    color: #fff;
}

.grid .item:nth-child(1) {
    grid-area: hero;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url('../assets/tile1.jpg');
    background-size:cover;
    background-repeat: no-repeat;
    align-content: center;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.804); /* Semi-transparent background */
    height:145%;
    
}


.grid .item:nth-child(2) {
    grid-area: aside2;
    /* align-content: center; */
    top: 0;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    border-radius: 30px;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    margin-left: 20px;
    height: 120%;

}

/* Individual profile items */
.profileItem {
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: center;
    gap: 10px;
    background-color: #3C3E4C;
    width: 80%;
    color:white;
    border-radius: 30px;
    height: 45px;
}

.profileIcon {
    margin-top: 5px;
}

.grid .item:nth-child(3) {
    grid-area: progress;
    align-content:center;
    margin-left: 0;
    margin-top: 10px;
    margin-bottom: 10px;
    height:150%;
    text-align: center;
}


.grid .item:nth-child(4) {
    grid-area: aside4;
    align-content: center;
    text-align: center;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url("https://miro.medium.com/v2/resize:fill:1200:675/g:fp:0.73:0.06/1*dBe7OoCKPI4HKNQ1_79x2A.jpeg");
    background-size: cover;
    background-repeat: no-repeat;
    background-color: rgb(0, 0, 0); /* Semi-transparent background */
    height: 300px;
    margin-top: 20px;

}

.grid .item:nth-child(5) {
    grid-area: aside5;
    /* background-color: rgba(0, 0, 0, 0.5); */
    background-color: #7F2982;
    margin-left: 30px;
    margin-top: 20%;
    border-radius: 30px;
    flex-direction: column;
    align-items: center;
    text-align: center;
    height: 75%;
    width: 95%;
    
}

.points_container {
    flex-direction: column;
    align-items: center;
    text-align: center;
}



/* Individual profile items */
.pointsItem {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 0;
    margin-top: 2%;
    
    /* background-color: #3C3E4C; */
    width: 80%;
    color:white;
    border-radius: 30px;
    height: 60px;
}

.pointsIcon {
    margin-top: 0;
   
}

/* Progress bar */
.progressBar {
    width: 100%;
    height: 60px;
    appearance: none;
    border-radius: 30px;
    margin-left: 0;
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1);
    
}

.progressBar::-webkit-progress-bar {
    background-color: #C5E4E1;
    border-radius: 30px;
    border: 1px solid #3C3E4C; /* Add a border color to the progress bar */
}

.progressBar::-webkit-progress-value {
    background-color: #3C3E4C;
    border-radius: 30px;
}
