
.forgot_password_container{
    height: 100vh;
    background-color: #C5E4E1;


}

.heading{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30%;
    font-family: 'Hammersmith One';
    color: #3e3c4e;
    font-size: 4vw;

}

.password_form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 40%;
    height: 50%;
    background-color: #3e3c4e;
    margin: auto;
    border-radius: 25px;

}

.password_form input{
    width: 70%;
    margin-top: 2%;
    border-radius: 10px;
    height: 15%;
    padding: 5%;


}

.submit_btn{
    width: 30%;
    height: 10%;
    margin-top: 2%;
    border-radius: 10px;


}