/*
* ForgotPassword.module.css - Stylesheet for the Forgot Password page
* 
* @file Defines the styles for forgot password form
* @author Carina Jose
* @author Amreet Dhillon 
* @version 1.1.0 
* @since 19-03-2025
*/

/* Styles main page  */
.forgot_password_container{
    height: 100vh;
    background-color: #C5E4E1;
}

/* Styles 'Forgot Password' heading */
.heading{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30%;
    font-family: 'Hammersmith One';
    color: #3e3c4e;
    font-size: 4vw;

}

/* Styles password form with a centred column layout */
.password_form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 40%;
    height: 50%;
    background-color: #3e3c4e;
    margin: auto;
    border-radius: 25px;

}

/* Styles inputs in .password_form */
.password_form input{
    width: 70%;
    margin-top: 2%;
    border-radius: 10px;
    height: 15%;
    padding: 5%;


}

/* Styles submit button */
.submit_btn{
    width: 30%;
    height: 10%;
    margin-top: 2%;
    border-radius: 10px;


}
