/*
* Form.module.css - Stylesheet for the Form component 
*
* @file Defines the styles for user login and registration form including the layout, buttons, and typography 
* @author Carina Jose
* @author Amreet Dhillon 
* @version 1.1.0
* @since 15-02-2025
*
*/

/* Main form container */
.main_form {
    background-image: url('../assets/background.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100vh;
    width: 100vw;
    position: absolute;
    
}

/* Login Section */
.login{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5%;
    

}

/* Header Section */
.header{
   
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    height: 90px; 

}

.heading{
    margin-top: 50px;
    font-family: 'Hammersmith One';
    font-size: 60px;
    color: #fff;
    
}

.logo{
    position: absolute;
    left: 25px;
    top: 30px;
    font-family: 'Chango';
    color: #4e5e6a;
    margin-left: 50px;
}

/* Header buttons */
.header_btn_login{
    text-decoration: none;
    font-family: 'Londrina Solid';
    font-size: 30px;
    color: #fff;
    position: absolute;
    right: 13%;
    margin-right: 10px;
    margin-top: 20px;

}
.header_btn_sign{
    text-decoration: none;
    font-family: 'Londrina Solid';
    font-size: 25px;
    color: #fff;
    background-color: #37394a;
    padding: 10px 20px;
    border-radius: 25px;
    position: absolute;
    right: 5%;
    margin-top: 20px;
    
}

.header_btn_sign:hover{
    background-color: #688089;
}

/* Login container */
.login_container {
    color: #FAFEFF !important;
    display: flex !important;
    flex-direction: column;
    justify-content: center !important;
    align-items: center !important;
    text-align: center !important;
    padding: 5%;
    background-color: #37394a80;
    width: 28vw;
    height: 60vh;
    border-radius: 10px;
    
}

.login_container h2 {
    font-size: 65px;
    font-family: 'Londrina Solid';
}

.login_container form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.login_container button {
    margin: 5%;
}

/* Form fields */
.field {
    margin-top: 5%;
    margin-bottom: 5%;
    width: 20vw;
    height: 7vh;
}

/* Login button */
.login_btn {
    border-radius: 10px;
    border-width: 0;
    background-color: #37394A;
    padding: 3%;
    width: 10vw;
    color: white;
    font-family: 'Inter';
}

.login_btn:hover {
    background-color: #688089;
}
