/*
* Form.module.css - Stylesheet for the Form component 
*
* @file Defines the styles for user login and registration form including the layout, buttons, and typography 
* @author Carina Jose
* @author Amreet Dhillon 
* @version 1.1.0
* @since 15-02-2025
*
*/

/* Main form container */
.main_form {
    background-image: url('../assets/background.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100vh;
    width: 100vw;
    position: absolute;
    
}

/* Login Section */
.login{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5%;
    

}

/* Header Section */
.header{
   
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;

}

.heading{
    font-family: 'Hammersmith One';
    color: #fff;
    
}

.logo{
    position: absolute;
    font-family: 'Chango';
    color: #4e5e6a;
    text-decoration: none;
}

/* Header buttons */
.header_btn_login{
    text-decoration: none;
    font-family: 'Londrina Solid';
    color: #fff;
    position: absolute;


}
.header_btn_sign{
    text-decoration: none;
    font-family: 'Londrina Solid';
    color: #fff;
    background-color: #37394a;
    border-radius: 25px;
    position: absolute;

    
}

.header_btn_sign:hover{
    background-color: #688089;
}

/* Login container */
.login_container {
    color: #FAFEFF !important;
    display: flex !important;
    flex-direction: column;
    justify-content: center !important;
    align-items: center !important;
    text-align: center !important;
    padding: 5%;
    background-color: #37394a80;
    height: 65vh;
    border-radius: 10px;
    
}

.login_container h2 {
    font-family: 'Londrina Solid';
    margin-top: 1.5vw;
}

.login_container form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


/* Form fields */
.field {
    margin-top: 5%;
    margin-bottom: 5%;
    height: 7vh;
}

/* Login button */
.login_btn {
    border-radius: 10px;
    border-width: 0;
    background-color: #37394A;
    padding: 3%;
    width: 14vw;
    color: white;
    font-family: 'Inter';
}

.login_btn:hover {
    background-color: #688089;
}


/* Mobile Styling */

@media (max-width: 480px){
    .login_container{
        width: 60vw;
    }

    .header{
        height: 18vw; 
    }
    
    .heading{
        margin-top: 2vw;
        font-size: 7vw;
        
    }
    
    .logo{
        left: 5vw;
        font-size: 5vw;
    }

    /* Header buttons */
    .header_btn_login{
        font-size: 4vw;
        right: 18vw;
        margin-right: 15px;
       
    }
    .header_btn_sign{
        font-size: 4vw;
        padding: 1vw 2vw;
        right: 5%;
  
        
    }

    .login_container h2 {
        font-size: 12vw;
       
    }

    .login_container form {
        width: 50vw;
    }

    .login_container button {
        margin: 2.5vw;
    }



    /* Form fields */
    .field {
        width: 50vw;
    }


}

/* Tablet Styling */

@media (min-width: 481px) and (max-width: 899px){
    .login_container{
        width: 50vw;
    }

    .header{
        height: 16vw; 
    }
    
    .heading{
        margin-top: 2vw;
        font-size: 6vw;
        
    }
    
    .logo{
        left: 6vw;
        font-size: 4vw;
    }

    /* Header buttons */
    .header_btn_login{
        font-size: 3vw;
        right: 18vw;
        margin-right: 10px;
       
    }
    .header_btn_sign{
        font-size: 3vw;
        padding: 1vw 2vw;
        right: 5%;
  
        
    }

    .login_container h2 {
        font-size: 8vw;
       
    }

    .login_container form {
        width: 40vw;
    }

    .login_container button {
        margin: 2.5vw;
    }



    /* Form fields */
    .field {
        width: 35vw;
    }

}


/* Small Deskptop Styling */

@media (min-width: 900px) and (max-width: 1199px){
    
    .login_container{
        width: 40vw;
    }

    .header{
        height: 12vw; 
    }
    
    .heading{
        margin-top: 2vw;
        font-size: 4.5vw;
        
    }
    
    .logo{
        left: 5vw;
        font-size: 4vw;
    }

    /* Header buttons */
    .header_btn_login{
        font-size: 2.5vw;
        right: 18vw;
        margin-right: 10px;
       
    }
    .header_btn_sign{
        font-size: 2.5vw;
        padding: 1vw 2vw;
        right: 5%;
  
        
    }

    .login_container h2 {
        font-size: 6vw;
       
    }


    .login_container button {
        margin: 1.5vw;
    }



    /* Form fields */
    .field {
        width: 30vw;
    }


}

/* Desktop Styling */

@media (min-width: 1200px) {

    .login_container{
        width: 28vw;
    }

    
    .header{
        height: 8vw; 
    }
    
    .heading{
        margin-top: 2vw;
        font-size: 4vw;
        
    }
    
    .logo{
        left: 5vw;
        font-size: 3vw;
    }

    /* Header buttons */
    .header_btn_login{
        font-size: 2vw;
        right: 16vw;
        margin-right: 10px;
       
    }
    .header_btn_sign{
        font-size: 2vw;
        padding: 1vw 2vw;
        right: 5%;
  
        
    }

    .login{
        margin-top: 4vw;
    }

    .login_container h2 {
        font-size: 5vw;
    }


    .login_container button {
        margin: 1.5vw;
    }



    /* Form fields */
    .field {
        width: 20vw;
    }

}