/*
* Form.module.css - Stylesheet for the Form component 
*
* @file Defines the styles for user login and registration form including the layout, buttons, and typography 
* @author Carina Jose
* @author Amreet Dhillon 
* @version 1.1.0
* @since 15-02-2025
*
*/

/* Main form container */
.main_form {
    background-image: url('../assets/background.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100vh;
    width: 100vw;
    position: absolute;
    
}

/* Login Section */
.login{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 5%;
    
    

}

/* Header Section */
.header{
   
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;

}

/* Styles for heading 'cliMate' */
.heading{
    font-family: 'Hammersmith One';
    color: #fff;
    
}

/* Styles for logo '888' */
.logo{
    position: absolute;
    font-family: 'Chango';
    color: #4e5e6a;
    text-decoration: none;
}

/* Header buttons */
.header_btn_login{
    text-decoration: none;
    font-family: 'Londrina Solid';
    color: #fff;
    position: absolute;


}

/* Styles for 'Sign up' button */
.header_btn_sign{
    text-decoration: none;
    font-family: 'Londrina Solid';
    color: #fff;
    background-color: #37394a;
    border-radius: 25px;
    position: absolute;

    
}

/* Hover effect for 'Sign Up' button */
.header_btn_sign:hover{
    background-color: #688089;
}

/* Login container */
.login_container {
    color: #FAFEFF !important;
    display: flex !important;
    flex-direction: column;
    justify-content: center !important;
    align-items: center !important;
    text-align: center !important;
    padding: 5%;
    background-color: #37394a80;
    height: 65vh;
    border-radius: 10px;
    
    
}

/* Style for h2 element of login container */
.login_container h2 {
    font-family: 'Londrina Solid';
    margin-top: 1.5vw;
}

/* Style for form of login container */
.login_container form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
  
}


/* Form fields */
.field,
.login_field {
    margin-top: 4%;
    margin-bottom: 5%;
    height: 15%;
}

/* Login button */
.login_btn {
    border-radius: 10px;
    border-width: 0;
    background-color: #37394A;
    padding: 3%;
    width: 14vw;
    height: 15%;
    color: white;
    font-family: 'Inter';
}

/* Hover effect of login button */
.login_btn:hover {
    background-color: #688089;
}

/* Style for forgot password button */
.forgot_password_btn{
    border-radius: 10px;
    padding: 5px;
    background-color: #37394A;
    border: none;
    color: white;
    padding: 10px;
}

/* Style for T&C checkbox*/
.signup_label{
    width: 100%;
    font-size: 12px;
    margin-bottom: 10px;
}




/* Mobile Styling */

@media (max-width: 480px){

    /* Sets width of login container */
    .login_container{
        width: 70vw;
    }

    /* Sets height of header */
    .header{
        height: 18vw; 
    }

    /* Styles heading */
    .heading{
        margin-top: 2vw;
        font-size: 7vw;
        
    }

    /* Styles logo */
    .logo{
        left: 5vw;
        font-size: 5vw;
    }

    /* Header buttons */
    .header_btn_login{
        font-size: 4vw;
        right: 18vw;
        margin-right: 15px;
       
    }
    .header_btn_sign{
        font-size: 4vw;
        padding: 1vw 2vw;
        right: 5%;
  
        
    }

    /* Styles h2 element of login container */
    .login_container h2 {
        font-size: 12vw;
       
    }

    /* Styles form of login container */
    .login_container form {
        width: 50vw;
        gap: 0.5vw;
    }

    /* Styles button of login container */
    .login_container button {
        margin: 2.5vw;
        width: 80%;
    }

    .login_container .forgot_password_btn{
        width: 80%;
    }



    /* Form fields */
    .field {
        width: 55vw;
    }


}

/* Tablet Styling */

@media (min-width: 481px) and (max-width: 899px){
    
    /* Sets width of login container */
    .login_container{
        width: 50vw;
        height: 70vh;
    }

    /* Sets height of header */
    .header{
        height: 16vw; 
    }

    /* Styles heading */
    .heading{
        margin-top: 2vw;
        font-size: 6vw;
        
    }

    /* Styles logo */
    .logo{
        left: 6vw;
        font-size: 4vw;
    }

    /* Header buttons */
    .header_btn_login{
        font-size: 3vw;
        right: 18vw;
        margin-right: 10px;
       
    }
    .header_btn_sign{
        font-size: 3vw;
        padding: 1vw 2vw;
        right: 5%;
    }


    /* Styles form of login container */
    .login_container form {
        width: 30vw;
        gap: 0.5vw;
    
    }

    /* Styles h2 element of login container */
    .login_container h2 {
        font-size: 8vw;
        margin: 0;
       
    }

    /* Styles label element of login container */
    .login_container label{
        font-size: 1.8vw;
        line-height: 1;
        margin-top: 1vw;
    }

    /* Styles button of login container */
    .login_container button {
       margin: 0;
       padding: 2%;
       width: 80%;
       margin-top: 1vw;
    
      
    }

    .login_container .forgot_password_btn{
        margin-bottom: 2vw;
        width: 80%;
    }



    /* Form fields */
    .field {
        width: 35vw;
    }

    .login_field{
        width: 35vw;
        height: 25%;
    }

}


/* Small Deskptop Styling */

@media (min-width: 900px) and (max-width: 1199px){

    /* Sets width of login container */
    .login_container{
        width: 40vw;
    }

    /* Sets height of header */
    .header{
        height: 12vw; 
    }

    /* Styles heading */
    .heading{
        margin-top: 2vw;
        font-size: 4.5vw;
    }

    /* Styles logo */
    .logo{
        left: 5vw;
        font-size: 4vw;
    }

    /* Header buttons */
    .header_btn_login{
        font-size: 2.5vw;
        right: 18vw;
        margin-right: 10px;
       
    }
    .header_btn_sign{
        font-size: 2.5vw;
        padding: 1vw 2vw;
        right: 5%;
  
        
    }

    .login_container form{
        gap: 2vw;
    }


    /* Styles h2 element of login container */
    .login_container h2 {
        font-size: 5vw;
        margin: 0;
       
    }

    /* Styles label of login container */
    .login_container label{
        font-size: 1.2vw;
        line-height: 1;
        margin-top: 1vw;
    }

    /* Styles button of login container */
    .login_container button {
        margin: 0;
        width: 80%;
        padding: 1.5%;
 
        
    }

    .login_container .forgot_password_btn{
        width: 50%;
    }



    /* Form fields */
    .field {
        width: 30vw;
    }

    .login_field{
        width: 30vw;
        height: 25%;
    }


}

/* Desktop Styling */

@media (min-width: 1200px) {

    /* Sets width of login container */
    .login_container{
        width: 28vw;
    }

    /* Sets height of header */
    .header{
        height: 8vw; 
    }

    /* Styles heading */
    .heading{
        margin-top: 2vw;
        font-size: 4vw;
    }

    /* Styles logo */
    .logo{
        left: 5vw;
        font-size: 3vw;
    }

    /* Header buttons */
    .header_btn_login{
        font-size: 2vw;
        right: 16vw;
        margin-right: 10px;
       
    }
    .header_btn_sign{
        font-size: 2vw;
        padding: 1vw 2vw;
        right: 5%;
    }

    /* Add top margin to .login */
    .login{
        margin-top: 4vw;
    }

    /* Styles h2 element of login container */
    .login_container h2 {
        font-size: 4vw;
    }

    /* Styles label of login container */
    .login_container label{
        font-size: 1vw;
        line-height: 1;
        margin: 0;
    }

    /* Styles button of login container */
    .login_container button {
        margin: 1vw;
        padding: 1%;
        width: 70%;
       
    }

    .login_container .forgot_password_btn{
        margin-top: 0.5vw;
        margin-bottom: 1vw;
        width: 60%;
    }

    .login_container form{
        gap: 1vw;
    }

   



    /* Form fields */
    .field {
        width: 20vw;
        height: 15%;
        margin: 0.5vw;
    }

    .login_field{
        width: 20vw;
        height: 25%;
    }

}
