/*
* Landing.module.css - Stylesheet for the Landing page
* 
* @file Defines the styles for the Get Started, login, sign up button and cliMate header
* @author Carina Jose 
* @author Amreet Dhillon 
* @version 1.1.0 
* @since 19-03-2025
*/

/* Styles main layout */
.landing_page{
    background-image: url('../assets/background.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100vh;
    width: 100vw;
    position: absolute;
}

/* Styles header */
.landing_header{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    height: 90px; 
}

/* Styles '888' logo */
.logo{
    position: absolute;
    top: 30px;
    left: 50px;
    font-family: 'Chango';
    color: #4e5e6a;
    text-decoration: none;
    font-size: 2.5rem;
}

/* Styles login button */
.login_btn{
    text-decoration: none;
    font-family: 'Londrina Solid';
    color: #fff;
    position: absolute;
    margin-right: 10px;
    margin-top: 20px;

}

/* Styles 'Sign Up' button */
.signup_btn{
    text-decoration: none;
    font-family: 'Londrina Solid';
    color: #fff;
    background-color: #37394a;
    padding: 10px 20px;
    border-radius: 25px;
    position: absolute;
    right: 5%;
    margin-top: 20px;
    
}

/* Hover effect of 'Sign Up' button */
.signup_btn:hover{
    background-color: #688089;
}

/* Styles main section below header */
.landing_main{
    margin: auto;
    margin-top: 10%;
    height: 40%;
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #fff;
    
}

/* Styles 'cliMate' title */
.title{
    font-family: 'Hammersmith One';
    padding: 0;
    margin-bottom: 0;

}

/* Styles 'Play for good' slogan */
.slogan{
    font-family: 'Londrina Solid';
    margin-top: 0;
    padding: 0;
    line-height: 0;
 
}

/* Styles 'Get Started' button */
.start_btn{
    position: relative;
    margin-top: 50px;
    text-decoration: none;
    color: #fff;
    border: 2px solid #fff;
    padding: 0.2vw;
    font-family: 'Londrina Solid';
    border-radius: 25px;
    text-align: center; 
    font-size: 4.5vw;
}

.landing_main{
    margin: auto;
    height: 40%;
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #fff;
    
}

/* Hover effect for 'Get Started' button */
.start_btn:hover{
    background-color: #37394a;
    
}

/* Mobile Styling */
@media(max-width: 480px){

    /* Styles '888' logo */
    .logo{
        left: 25px;
        font-size: 2rem;
    }
    
    /* Styles login button*/
    .login_btn{
        font-size: 5vw;
        right: 30vw;  
    }

    /* Styles sign up button */
    .signup_btn{
        font-size: 5vw;
    }

    /* Styles main section below header*/
    .landing_main{
        margin-top: 25vw;
    }
    
    /* Styles 'cliMate' title */
    .title{
        font-size: 13vw;
    }

    /* Styles 'play for good' slogan */
    .slogan{
        font-size: 6vw;
    }

    /* Styles 'Get Started' button */
    .start_btn{
        font-size: 6vw;
        height: 11vw;
        width: 33vw;
        
    }


}


/* Tablet Styling */

@media (min-width: 481px) and (max-width: 768px) {

   /* Styles login button */
    .login_btn{
        font-size: 4.5vw;
        right: 25vw;  
    }

    /* Styles sign up button */
    .signup_btn{
        font-size: 4.5vw;
    }

    /* Styles main section below header */
    .landing_main{
        margin-top: 18vw;
    }

    /* Styles 'cliMate' title */
    .title{
        font-size: 10vw;
        
    }

    /* Styles 'play for good' slogan */
    .slogan{
        font-size: 4.5vw;
    }

    /* Styles 'Get Started' button */
    .start_btn{
        font-size: 5vw;
        height: 9vw;
        width: 31vw;
        
    }

}


/* Desktop Styling */

@media (min-width: 769px) and (max-width: 1199px) {

    /* Styles login button */
    .login_btn{
        font-size: 3vw;
        right: 18vw;
    }

    /* Styles sign up button */
    .signup_btn{
        font-size: 3vw;
        
    }

    /* Styles main section below header */
    .landing_main{
        margin-top: 14vw;   
        
    }

    /* Styles 'cliMate' header */
    .title{
        font-size: 7vw;
        
    }

    /* Styles 'play for good' slogan */
    .slogan{
        font-size: 3vw;
    }

    /* Styles 'Get Started' button */
    .start_btn{
        font-size: 3vw;
        height: 5.5vw;
        width: 24vw;
        
   
    }


    

}


/* Large Desktop Styling */

@media (min-width: 1200px) {

    /* Styles login button */
    .login_btn{
        font-size: 2vw;
        right: 14vw;
    }

    /* Styles sign up button */
    .signup_btn{
        font-size: 2vw;
        
    }

    /* Styles main section below header */
    .landing_main{
        margin-top: 10vw;    
        
    }

    /* Styles 'cliMate' title */
    .title{
        font-size: 6vw;
        
    }

    /* Styles 'Get Started' slogan */
    .slogan{
        font-size: 2.5vw;
    }

    /* Styles 'Get Started' button */
    .start_btn{
        font-size: 2.5vw;
        height: 4.5vw;
        width: 23vw;
       
    }

}








