/** 
* Landing.module.css - Stylesheet for the Landing page
* 
* @file Defines styles for the landing page layout
* @author Carina Jose 
* @author Amreet Dhillon 
* @version 1.0.0 
* @since 23-02-2025
*/

/* Landing Page Layout */
.landing_page{
    background-image: url('../assets/background.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100vh;
    width: 100vw;
    position: absolute;
}

/* Landing Page Header */
.landing_header{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    height: 90px; 
}

/* Logo Styling */
.logo{
    position: absolute;
    left: 25px;
    top: 30px;
    font-family: 'Chango';
    color: #4e5e6a;
    margin-left: 50px;
}

/* Login Button */
.login_btn{
    text-decoration: none;
    font-family: 'Londrina Solid';
    font-size: 30px;
    color: #fff;
    position: absolute;
    right: 13%;
    margin-right: 10px;
    margin-top: 20px;

}

/* Signup Button */
.signup_btn{
    text-decoration: none;
    font-family: 'Londrina Solid';
    font-size: 25px;
    color: #fff;
    background-color: #37394a;
    padding: 10px 20px;
    border-radius: 25px;
    position: absolute;
    right: 5%;
    margin-top: 20px;
    
}

.signup_btn:hover{
    background-color: #688089;
}

/* Landing Main Section */
.landing_main{
    margin: auto;
    margin-top: 10%;
    height: 40%;
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #fff;
    
}

/* Title Text */
.title{
    font-family: 'Hammersmith One';
    font-size: 90px;
    padding: 0;
    margin-bottom: 0;

}

/* Slogan Styling */
.slogan{
    font-family: 'Londrina Solid';
    font-size: 35px;
    margin-top: 0;
    padding: 0;
    line-height: 0;
 
}

/* Start Button */
.start_btn{
    position: relative;
    margin-top: 50px;
    text-decoration: none;
    color: #fff;
    border: 2px solid #fff;
    padding: 10px;
    font-family: 'Londrina Solid';
    font-size: 30px;
    border-radius: 25px;
    width: 45%;
    height: 24%;
    text-align: center;
}

.start_btn:hover{
    background-color: #37394a;
    
}