.main_profile {
    min-height: 100vh;
    background-color: #C5E4E1;
}



.profile_container {
    color: #FAFEFF !important;
    display: flex !important;
    flex-direction: column;
    justify-content: center !important;
    align-items: center !important;
    text-align: center !important;
    padding: 5%;
    background-color: #37394A;
    opacity: 80%;
    border-radius: 25px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    
}



.profile_container button {
    margin: 5%;
}

.profile_icon {
    position: absolute;
    top:0;
    margin-top: 30px;
    margin-bottom: 20px;
}

.profile_name{
    color: white;
}

.profile_info {
    width: 100%;
    text-align: left;
}

form{
    display: flex;
    flex-direction: column;
}

input{
  height: 100%;

}

.profile_header {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
}


.info_row {
    padding: 10px 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    height: 10vh;
 
}

.label {
    font-size: 20px;
    font-family: "Inter", serif;
    color: #94BEBA;
}

.edit {
    font-size: 12px;
    text-transform: uppercase;
    font-weight: 200px;
    cursor: pointer;
    color: #94BEBA;
}

.line {
    border: none;
    height: 1px;
    background-color: white;
    margin: 0;
    margin-bottom: 5%;
}

.logout_btn {
    background: #1e1f28;
    opacity:100%;
    font-family: "Inter", serif;
    color: white;
    border: none;
    border-radius: 20px;
    padding: 10px 20px;
    font-size: 16px;
    margin-top: 10px;
    text-decoration: none;
    cursor: pointer;
}



.logout_btn:hover {
    background: #47484f;
}

.deleteAccount_btn {
    background: #1e1f28;
    opacity:100%;
    font-family: "Inter", serif;
    color: white;
    border: none;
    border-radius: 20px;
    padding: 10px 20px;
    font-size: 16px;
    margin-top: 10px;
    text-decoration: none;
    cursor: pointer;
}

.deleteAccount_btn:hover {
    background: #47484f;
}

.reset_password {
    font-size: 18px !important;
    text-align: center !important;
    color: #94BEBA !important;
    cursor: pointer !important;
    display: block !important;
    text-decoration: none;
    margin-top: 10px;
}

.a:hover {
    color: #3C3E4C; 
    text-decoration: none;
}

.overlay {
    position: fixed;
    inset: 0; 
    background: rgba(0, 0, 0, 0.717); 
    display: flex;
    justify-content: center;
    align-items: start; 
    z-index: 50; 
}

.edit {
    background-color: #37394A; /* Change to your preferred color */
    color: #94BEBA; /* Ensures text is readable */
    border: none;
    padding: 10px 10px;
    cursor: pointer;
    border-radius: 5px;
}

.edit:hover {
    color: white; /* Optional: Hover effect */
}

@media (max-width: 480px){
    .profile_container {
        width: 60vw;
        height: 65vh;
        top: 40%;
        
    }



}

@media (min-width: 481px) and (max-width: 768px){

    .profile_container {
        width: 60vw;
        height: 70vh;
        top: 40%;
        
    }

   
    
   
}

@media (min-width: 769px) and (max-width: 1199px){

    .profile_container {
        width: 50vw;
        height: 80vh;
    }

    

}


@media (min-width: 1200px){

    .profile_container {
        width: 40vw;
        height: 80vh;
    }


}
