/*
* ResetPassword.module.css - Stylesheet for the Reset Password page
* 
* @file Defines the styles for reset password form
* @author Carina Jose 
* @author Amreet Dhillon 
* @version 1.1.0 
* @since 19-03-2025
*/

/* Styles main page */
.main_resetPassword {
    min-height: 100vh;
    background-color: #C5E4E1;
}

/* Styles main form */
.password_container {
    color: #FAFEFF !important;
    display: flex !important;
    flex-direction: column;
    justify-content: center !important;
    align-items: center !important;
    text-align: center !important;
    padding: 5%;
    background-color: #37394A;
    opacity: 80%;
    border-radius: 25px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    
}

/* Adds spacing to form controls */  
.form_control {
    margin-bottom: 100px;
    padding:100px;
}

/* Styles reset button */
.reset_btn {
    background: #1e1f28;
    opacity:100%;
    font-family: "Inter", serif;
    color: white;
    border: none;
    border-radius: 20px;
    padding: 10px 20px;
    font-size: 16px;
    margin-top: 10px;
    cursor: pointer;
}

/* Hover effect on reset button */
.reset_btn:hover {
    background: #47484f;
}
